<h3 style="margin-top: 100px"><%= @user.name %>'s Profile</h3>
<div class="user_info">
  <div class="profile_avatar">

    <%= image_tag @profile.avatar.url %>
  </div>
</div>

<% if current_user == @user %>

<% end %>
<div class="profile_list">
  <ul>
    <li>Name: <%= @user.name %></li>
    <li>Email: <%= @user.email %></li>
  </ul>
</div>
