<p>Find me in app/views/message/show.html.erb</p>
<p>Find me in app/views/message/show.html.erb</p>

<h3>ALL messages</h3>


<ul class="messages">
  <% @allmessages.each do |message| %>
      <li>

        <span class="sender">From: <%= message.sender.name %>=></span>&nbsp &nbsp &nbsp
        <span class="reciver">To: <%= message.reciver.name %></span> &nbsp &nbsp &nbsp
        <span class="content"><%= message.body %></span>&nbsp &nbsp
        <span class="create">Create: <%= message.created_at %></span>
      </li>
  <% end %>
</ul>

